
.Flash {
  /*background-color: green;*/
  width: 20%;
  height: 20vh;
  /*border: 100px rgb(44, 3, 3);*/
  /*perspective: 1000px;*/
  /*display: flex;*/
  justify-content: center;
  align-items: center;
/*  position: relative;*/
}
.Flip {
  width: 200px;
  height: 300px;


}
.Flop {
  position: relative;
  width: 100%;
  height: 100%;
  /*text-align: center;*/
  transition: transform 1.5s;
  transform-style: preserve-3d;
  left: 600px;


}
.Flash:hover .Flop {
  transform: rotateY(180deg);
}
.Front, .Back {
  position: absolute;
/*  left: 50%;*/
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;

}
.Front {
  background-color: red;
  color: black;
  /*transform: rotateY(180deg);*/
}
.Back {
  background-color: dodgerblue;
  color: black;
  transform: rotateY(180deg);
}

.ChangeCollections {
  background-color: black;
  left: 0px;
  position: absolute;
}
.Blitz {
 border: 20px;
 width: 50px;
 height: 50px;
 right: 50%;
 bottom: 20%;
}
.Trial {
  left: 400px;
}
input [type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}